*{
	margin:0;
	padding:0;
}
ul ,li{
	list-style: none;
}
.contain{
	width:520px;
	height:280px;
	margin:100px auto;
	border:1px solid black;
	position:relative;
	overflow: hidden;
}
.img{
	width:4000px;
	height: 280px;
	position: absolute;
}
.img li{
	float: left;
}
.contain:hover .btn{
   display: block;
}
.btn{
	display: none;
	width: 20px;
	height:40px;
	background-color:#eee;
	line-height: 40px;
	text-align: center;
	position: absolute;
	top:47%;
}
.btn-l{
	left: 0;
}
.btn-r{
	right: 0;
}
.num{
	position: absolute;
	width:100%;
	text-align: center;
	bottom: 10px;

}
.num li{
	width: 10px;
	height: 10px;
	background-color: #eee;
	border-radius:50%;
	margin-right:15px;
	/*float: left;*/
	display: inline-block;
}
.num li.on{
	background: red;
}